* {
    box-sizing: border-box;
}

body {
    background-color: hsl(0, 0%, 98%);
    font-family: 'Poppins', sans-serif;
}

header {
    max-width: 500px;
    margin: 50px auto;
    text-align: center;
}

header h1 {
    font-weight: 200;
    margin: 0;
}

h1 span {
    font-weight: 600;
}

p {
    color: hsl(229, 6%, 66%);
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1150px;
}

.box {
    background-color: white;
    width: 350px;
    box-shadow: 0px 5px 10px 0px hsl(228, 13%, 85%);
    margin: 1rem;
    padding: 1rem 2rem;
    border-radius: 5px;
}

.karma {
    border-top: 5px solid hsl(34, 97%, 64%);
}

.supervisor {
    border-top: 5px solid hsl(180, 62%, 55%);
}

.team-builder {
    border-top: 5px solid hsl(0, 78%, 62%);
}

.calculator {
    border-top: 5px solid hsl(212, 86%, 64%);
    order: 2;
}

.box h2 {
    margin: 1rem auto 0;
}

.box p {
    font-size: 14px;
    margin: 0.5rem 0 2rem;
}

.box img {
    display: block;
    margin-left: auto;
}

footer {
    text-align: center;
}

@media (min-width: 1179px) {
    .box-side {
        transform: translateY(50%);
    }

    .karma {
        order: 4;
    }
}